In [2]:
import pandas as pd

In [3]:
suicide_dataset = pd.read_csv('master.csv')

In [6]:
suicide_dataset.groupby('country').count()

,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
country,,,,,,,,,,,
Albania,264,264,264,264,264,264,264,48,264,264,264
Antigua and Barbuda,324,324,324,324,324,324,324,36,324,324,324
Argentina,372,372,372,372,372,372,372,120,372,372,372
Armenia,298,298,298,298,298,298,298,96,298,298,298
Aruba,168,168,168,168,168,168,168,0,168,168,168
...,...,...,...,...,...,...,...,...,...,...,...
United Arab Emirates,72,72,72,72,72,72,72,24,72,72,72
United Kingdom,372,372,372,372,372,372,372,120,372,372,372
United States,372,372,372,372,372,372,372,120,372,372,372
Uruguay,336,336,336,336,336,336,336,108,336,336,336
Uzbekistan,264,264,264,264,264,264,264,84,264,264,264

In [7]:
suicide_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  object
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [9]:
suicide_dataset['country-year']

0           Albania1987
1           Albania1987
2           Albania1987
3           Albania1987
4           Albania1987
              ...
27815    Uzbekistan2014
27816    Uzbekistan2014
27817    Uzbekistan2014
27818    Uzbekistan2014
27819    Uzbekistan2014
Name: country-year, Length: 27820, dtype: object